include ../mixins/sub-category.pug
header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src=settingGeneral.logo, alt="Logo")

      .col-5
        form(
          action="/products/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Enter keywords..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Search

      .col-4
        .inner-menu
          ul
            li
              a(href="/") Home
            li(class="sub-menu")
              a(href="/products") Product
              +sub-category(allCategory)
            li
              a(href="/cart") Cart (#{miniCart})
            if(user)
              li
                a(href="/user/profile") #{user.fullName}
              li
                a(href="/user/friends") Friends
              li
                a(href="/user/logout") Logout
            else
              li
                a(href="/user/login") Login
              li
                a(href="/user/register") Register
                    