extends ../../layouts/default.pug
block main
  h1(class="mb-4") #{"Change Password"}
  h5 Account: #{account.fullName}
  form(
    action=`/${prefixAdmin}/accounts/change-password/${account.id}?_method=PATCH`
    method="POST"
  )
    div(class="form-group")
      label(for="password") New Password *
      input(
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      )
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Change