mixin product-item(item)
  .col-6.mb-3
    .product-item
      .inner-image
        a(href=`/products/detail/${item.slug}`) 
          img(src=item.thumbnail, alt=item.title)
      .inner-content
        h3.inner-title
          a(href=`/products/detail/${item.slug}`) #{item.title}
        .inner-price-new #{item.priceNew} $ for #{item.repayments[0].name} months
        .inner-price-old #{item.priceOld} $ for #{item.repayments[0].name} months
        .inner-discount -#{item.discountPercentage}%